# Exercise 1

1.  Write a Python program to load the iris data from a given csv file into a dataframe and print the shape of the data, type of the data and first 3 rows.

In [ ]:
import numpy as np
import pandas as pd 
df = pd.read_csv("Iris.csv")

print("\n")
print("Shape : ")
print(df.shape)
print("\n")
print("Datatype : ")
print(df.dtypes)
print("\n")
print("First 3 rows : ")
df.head(3)

Shape :
(150, 6)


Datatype :
Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object


First 3 rows :

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

2. Write a Python program using Scikit-learn to print the keys, number of rows-columns, feature names and the description of the Iris data

In [29]:
print("Keys : ")
print(df.keys())
print("\n")
print("size : ")
print(df.size)
print("\n")
print("Row size : ")
print(df.shape[0])
print("\n")
print("Col size : ")
print(df.shape[1])
print("\n")

Keys :
Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')


size :
900


Row size :
150


Col size :
6

3.  Write a Python program to get the number of observations, missing values and nan values

In [31]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None